

.cell  {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0px;
}

.black {
    background-color: black;
}

.red {
    background-color: indianred;
}

.checker {
    margin: 10px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.red-checker {
    background-color: aliceblue;
}

.black-checker {
    background-color: burlywood;
}

.king.red-checker {
    background-color: red;
}

.king.black-checker {
    background-color: blueviolet;
}