* {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url(./assets/images/GoTBG.png);
    background-position: 50%;
}

div {
    display: flex;
    justify-content: space-between;
}

.noPieceHere {
    background-color: #ecef9d;
}

td {
    text-align: center;
    background-color: #4799bc;
    width: 70px;
    height: 70px;
}

.red-turn-text {
    text-align: center;
    color: black;
    font-family: "open sans";
    font-size: 55px;
    padding: 15px 0 15px 20px;
    box-shadow: -5px 5px black;
}

.black-turn-text {
    text-align: center;
    font-family: "open sans";
    font-size: 55px;
    color: lightgray;
    padding: 15px 20px 15px 0;
    opacity: .2;
}

.black-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: black;
    border: 3px solid black;
    border-radius: 50px;
}

.red-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: red;
    border: 3px solid black;
    border-radius: 50px;
}

.king.red-piece {
    background-color: rgb(224, 74, 19);
    background-image: url(./assets/images/crownn.png);
}

.king.black-piece {
    background-color: rgb(94, 9, 94);
    background-image: url(./assets/images/crownn.png);
}

p {
    display: inline-block;
}

#divider {
    font-size: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

span {
    display: inline-block;
}

#board-container {
    background-color: black;
}

#start {
    position: fixed;
    left: 10%;
    top: 25%;
    height: 60%;
    width: 85%;
    margin-right: auto;
    background-color: blanchedalmond;
    text-align: center;
    border: 4px solid burlywood;
    display: block;
}

#start button {
    height: 20%;
    width: 10%;
    font-size: 35px;
    margin-top: 10%;
}

#startP {
    font-size: 10vh;
}